<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form  id="tf"  action="http://127.0.0.1:8080/lpsjtb/filesync/recive" method="post" enctype="multipart/form-data">
        <input  type="file" placeholder="点击上传" name="file"/>
        <input type="submit"   value="上传"/>
    </form>

<!--    <form  id="tf1"  action="http://183.65.22.177:8891/lpsjtb/filesync/recive" method="post" enctype="multipart/form-data">-->
<!--&lt;!&ndash;        <input  type="file" placeholder="点击上传" name="file"/>&ndash;&gt;-->
<!--        <input type="text" name="type" value="LP_ZSPT" />-->
<!--        <input type="submit"   value="上传"/>-->
<!--    </form>-->
</body>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    // function test() {
    //     var form = new FormData(document.getElementById("tf"));
    //     $.ajax({
    //         url: "/demo/test/recive",
    //         type: "post",
    //         data: form,
    //         processData: false,
    //         contentType: false,
    //         dataType:"json",
    //         success: function(data) {
    //             console.log(data);
    //         },
    //         error: function(e) {
    //             console.log(e);
    //         }
    //     });
    // }


</script>
</html>
